.footer_bg{
    background-color:#936a78;
}

.footer_tilmeld{
   background-color: #e4b830;
}


.h5{
    font-size: 15px;
}

.p{
    font-size: 10px;
}

.ul{
    list-style: none;
}
    

footer.Footer-main ul.ul a {
    color: white;
}

footer.Footer-main ul.ul a:hover {
    color:#e4b830;
    text-decoration: none;
}
